.MuiDataGridFilterForm-root {
  background-color: black !important;
}

.MuiDataGridPanelWrapper-root {
  background-color: black !important;
  color: white !important;
}

.MuiDataGridFilterForm-columnSelect {
  margin-right: 16px !important;
}

.MuiDataGridFilterForm-operatorSelect {
  margin-right: 16px !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.6;
  margin-left: -8px;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}
